<template>
    <div class="container">
        <div class="row mt-2">
            <div class="col">
                <span class="h3 float-left">Followers analytic application</span>
            </div>
        </div>

        <div class="row">
            <div class="col-12">

                <div  v-if="projects && projects.length && !listAccounts.length">

                    <ul class="pagination" v-if="sumPagesProjects > 1">
                        <li v-for="page in pagesProjects" v-bind:class="[pageItemClass, (page === listPageProjects) ? activeClass : '']">
                            <a class="page-link" @click="pagination('Projects',page)">{{ page }}</a>
                        </li>
                    </ul>

                    <table  class="table" style="overflow-x:auto;">
                        <thead>
                        <tr>
                            <th>Project</th>
                            <th class="text-center">Followers Min</th>
                            <th class="text-center">Created</th>
                            <th class="text-center">Buttons</th>
                        </tr>
                        </thead>
                        <tbody>
                        <template v-for="(row, index) in projects.slice((listPageProjects-1)*limitProjects,listPageProjects*limitProjects)" :row="row">
                            <tr :key="index" >
                                <td class="text-left">
                                    <button class="btn btn-outline-warning btn-sm" @click="toggleShowProjectInfo(row.id)">?</button>
                                    {{row.title}}
                                </td>
                                <td class="text-center">{{row.min}}</td>
                                <td class="text-center">{{timestamp(row.created)}}</td>
                                <td class="text-right">
                                    <button @click="showProjectsData(row.id,index)" class="btn btn-success btn-sm">[Show accounts]</button>
                                </td>
                            </tr>

                        </template>
                        </tbody>
                    </table>
                </div>

                <!--

                        Main accounts list

                 -->

                <div  v-if="listAccounts && listAccounts.length && !listFollowers.length" v-bind:class="{hidden : !listFollowers}">

                    <button class="btn-warning btn btn-sm mb-2 float-right" @click = "closeProject()">Close Project</button>

                    <div class="form-check float-left mr-3">
                        <input type="checkbox" :checked="showEmail" class="form-check-input" id="exampleCheck4" @click="showEmail= !showEmail">
                        <label class="form-check-label" for="exampleCheck4">Show email</label>
                    </div>

                    <div class="form-check float-left mr-3">
                        <input type="checkbox" :checked="showBio" class="form-check-input" id="exampleCheck3" @click="showBio= !showBio">
                        <label class="form-check-label" for="exampleCheck3">Show bio</label>
                    </div>

                    <div class="form-check float-left mr-3">
                        <input type="checkbox" :checked="showButtons" class="form-check-input" id="exampleCheck5" @click="showButtons= !showButtons">
                        <label class="form-check-label" for="exampleCheck5">Show buttons</label>
                    </div>

                    <ul class="pagination" v-if="sumPagesAccount > 1">
                        <li v-for="page in pagesAccount" v-bind:class="[pageItemClass, (page === listPageAccount) ? activeClass : '']">
                            <a class="page-link" @click="pagination('Accounts',page)">{{ page }}</a>
                        </li>
                    </ul>

                    <table  class="table" style="overflow-x:auto;">
                        <thead>
                        <tr>
                            <!--<th>Checked</th>-->
                            <th>Account</th>
                            <th>URL</th>
                            <th v-if="showEmail">Email</th>
                            <th class="text-center">Posts</th>
                            <th class="text-center">Follow</th>
                            <th class="text-center">Followers</th>
                            <th class="text-center">ER%</th>
                            <th class="text-center" v-if="showBio">Bio</th>
                            <th class="text-center" v-if="showButtons">Button</th>
                        </tr>
                        </thead>
                        <tbody>

                        <template v-for="(row, index) in listAccounts.slice((listPageAccount-1)*20,listPageAccount*20)" :row="row">
                            <tr v-bind:class="{ private: row.private}"  :key="index" >
                                <!--<td class="text-center">{{row.username}</td>-->
                                <td><nobr><!--<img class="rounded-circle profile_pic" v-bind:src="row.profile_pic">--> {{row.username}} <span v-if="row.business" class="font-weight-bold">$</span></nobr></td>
                                <td><a v-bind:href="'https://www.instagram.com/'+row.username">Link</a></td>
                                <td class="text-center" v-if="showEmail">{{row.bio_email}}</td>
                                <td class="text-center">{{row.posts}}</td>
                                <td class="text-center">{{row.follow}}</td>
                                <td class="text-center">{{row.followers}}</td>
                                <td class="text-center">{{row.er}}</td>

                                <td class="text-center" v-if="showBio">{{row.bio}}</td>
                                <td class="text-center" v-if="showButtons">
                                    <button @click="showFollowers(row.id,index)" class="btn btn-success btn-sm" v-if="row.status_follower">Follower accounts</button>
                                </td>
                            </tr>
                        </template>
                        </tbody>
                    </table>
                </div>

                <!--

                        Followers list

                 -->

                <div class="row" v-if="showFollowersLoading">
                    <div class="col-6">
                        &nbsp;
                    </div>
                    <div class="col-6">
                        <Spinner name="circle" color="#aaaaaa"/>
                    </div>
                </div>


                <div  v-if="listFollowers && listFollowers.length && !showFollowersLoading">

                    <button class="btn-warning btn btn-sm mb-2 float-right" @click = "closeFollowers()">Close Followers</button>

                    <div class="row">
                        <div class="col-12">
                            <div class="form-check float-left mr-3">
                                <input type="checkbox" :checked="showEmail" class="form-check-input" id="exampleCheck7" @click="showEmail= !showEmail">
                                <label class="form-check-label" for="exampleCheck7" :checked="showEmail">Show email</label>
                            </div>

                            <div class="form-check float-left mr-3">
                                <input type="checkbox" :checked="showBio" class="form-check-input" id="exampleCheck8" @click="showBio= !showBio">
                                <label class="form-check-label" for="exampleCheck8" :checked="showBio">Show bio</label>
                            </div>

                            <div class="form-check float-left mr-3">
                                <input type="checkbox" :checked="showButtons" class="form-check-input" id="exampleCheck9" @click="showButtons= !showButtons">
                                <label class="form-check-label" for="exampleCheck9" :checked="showButtons">Show buttons</label>
                            </div>

                            <div class="form-check float-left mr-3">
                                <input type="checkbox" :checked="showStat" class="form-check-input" id="exampleCheck10" @click="showStat= !showStat">
                                <label class="form-check-label" for="exampleCheck10" :checked="showStat">Show statistic</label>
                            </div>

                            <div class="form-check float-left mr-3">
                                <input type="checkbox" :checked="showLocation" class="form-check-input" id="exampleCheck11" @click="showLocation= !showLocation">
                                <label class="form-check-label" for="exampleCheck11" :checked="showStat">Show locations</label>
                            </div>

                            <div class="form-check float-left mr-3">
                                <input type="checkbox" :checked="showFullAudit" class="form-check-input" id="exampleCheck12" @click="showFullAudit= !showFullAudit">
                                <label class="form-check-label" for="exampleCheck12" :checked="showFullAudit">Show full audit</label>
                            </div>
                        </div>
                    </div>
                    <ul class="pagination" v-if="sumPagesFollowers > 1">
                        <li v-for="page in pagesFollowers" v-bind:class="[pageItemClass, (page === listPageFollowers) ? activeClass : '']">
                            <a class="page-link" @click="pagination('Followers',page)">{{ page }}</a>
                        </li>
                    </ul>

                    <table  class="table" style="overflow-x:auto;">
                        <thead>
                        <tr>
                            <!--<th>Checked</th>-->
                            <th>Account</th>
                            <th>URL</th>
                            <th v-if="showEmail">Email</th>
                            <th class="text-center" v-if="showStat">Posts</th>
                            <th class="text-center" v-if="showStat">Follow</th>
                            <th class="text-center" v-if="showStat">Followers</th>
                            <th class="text-center" v-if="showStat">ER%</th>
                            <th class="text-center" v-if="showBio">Bio</th>
                            <th class="text-center" v-if="showLocation">Bio Loc</th>
                            <th class="text-center" v-if="showLocation">Posts Loc</th>
                            <th class="text-center" v-if="showFullAudit">Audit</th>
                        </tr>
                        </thead>
                        <tbody>

                            <template v-for="(row, index) in listFollowers.slice((listPageFollowers-1)*20,listPageFollowers*20)" :row="row">
                                <tr v-bind:class="{ private: row.private}"  :key="index" >
                                    <!--<td class="text-center">{{row.username}</td>-->
                                    <td><nobr><img class="rounded-circle profile_pic" v-bind:src="row.profile_pic"> {{row.username}} <span v-if="row.business" class="font-weight-bold">$</span></nobr></td>
                                    <td><a v-bind:href="'https://www.instagram.com/'+row.username">Link</a></td>
                                    <td class="text-center" v-if="showEmail">{{row.bio_email}}</td>
                                    <td class="text-center" v-if="showStat">{{row.posts}}</td>
                                    <td class="text-center" v-if="showStat">{{row.follow}}</td>
                                    <td class="text-center" v-if="showStat">{{row.followers}}</td>
                                    <td class="text-center" v-if="showStat">{{row.er}}</td>
                                    <td class="text-center" v-if="showBio">{{row.bio}}</td>
                                    <td class="text-center" v-if="showLocation">{{row.location_bio}}</td>
                                    <td class="text-left" v-if="showLocation">

                                        <span v-for="(location, index2) in row.location_post" :row="flag">
                                            <img v-if="location.country"
                                                    class="country-flag mr-1"
                                                    :src="'https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.3.0/flags/4x3/'+(location.country).toLowerCase()+'.svg#svgView(preserveAspectRatio(none))'"
                                                    :alt="location.city"
                                            >
                                        </span>

                                    </td>
                                    <td class="text-left" v-if="showFullAudit">
                                        <nobr>
                                            <button class="btn btn-success btn-sm" v-if="row.followers_stat.real>0">{{row.followers_stat.real}}%</button>
                                            <button class="btn btn-danger btn-sm" v-if="row.followers_stat.fake>0">{{row.followers_stat.fake}}%</button>
                                            <button class="btn btn-secondary btn-sm" v-if="row.followers_stat.inact>0"> {{row.followers_stat.inact}}%</button>
                                            <button class="btn btn-info btn-sm" v-if="row.followers_stat.mass>0"> {{row.followers_stat.mass}}%</button>
                                            <button class="btn btn-dark btn-sm" v-if="row.followers_stat.influ>0"> {{row.followers_stat.influ}}%</button>
                                        </nobr>
                                    </td>


                                </tr>
                            </template>
                        </tbody>
                    </table>

                    <div class="col-12 mb-5">
                        Legend:<br>
                        <nobr>
                            <button class="btn btn-success btn-sm">Real</button>
                            <button class="btn btn-danger btn-sm">Fake</button>
                            <button class="btn btn-secondary btn-sm">Inact</button>
                            <button class="btn btn-info btn-sm">Mass</button>
                            <button class="btn btn-dark btn-sm">Influ</button>
                        </nobr>
                    </div>

                </div>


            </div>

        </div>

    </div>
</template>

<script>

    import axios from 'axios'
    import moment from 'moment-timezone'

    export default {
        name: "index",

        data: ()=>({

            /* Main */
            project_type:2,
            project_nametype:'', // Set in load config
            limitProjects:15,


            /* show */
            showConfig:false,
            showAddProject:false,
            showEmail:false,
            showBio:false,
            showLocation:true,
            showStat:false,
            showFullAudit:true,
            showButtons:true,

            /* spinner */
            showFollowersLoading: false,


            /* Projects */
            listPageProjects:1,
            sumPagesProjects:1,
            choosedProject:0,
            pagesProjects:[],
            project_accounts:'',
            project_countries:'Belgium France',
            project_country_accuracy:100,
            project_country_followers_min: 1000,
            project_title:'',
            project_followers_min:0,
            project_followers_max:0,
            project_full_audit:false,

            /* Account */
            listPageAccount:1,
            sumPagesAccount:1,
            pagesAccount:[],
            listAccounts:[],

            /* Followers */
            listPageFollowers:1,
            sumPagesFollowers:1,
            pagesFollowers:[],
            listFollowers:[],
            account_summary:[],
            
            projects:[],
            projects_info:[],
            listProjects:[],
            pages:[],
            disabledbutton:[],
            expand:[],

            // Checkbosx for likes
            checkboxStart:[],

            spreadsheetIdFollowersLocation:'',
            emailFollowersLocation:'',

            currentSort:'created',
            currentSortDirection:'asc', /* Sorting direction */
            pageItemClass: 'page-item',
            activeClass: 'active'
        }),
        created() {
            this.showProjects();
            this.loadConfig('followers-search');
        },
        methods: {
            loadConfig: function (name){
                this.project_nametype = name;
                let data = new FormData();
                data.append('project_type',name);
                axios.post('/api/application/config/load',data)
                    .then(response =>{
                        console.log(response.data);
                        this.email = (typeof response.data.email !== "undefined")?response.data.email:'n/a';
                        this.spreadsheetId = (typeof response.data.spreadsheetId !== "undefined")?response.data.spreadsheetId:'n/a';
                    })
                    .catch(e => {
                        getErrorAxios(e);
                    })

            },
            saveConfig: function (){
                this.disabledbutton.push('config');
                let data = new FormData();
                data.append('project_type',this.project_nametype);
                data.append('email',this.email);
                data.append('spreadsheetId',this.spreadsheetId);

                axios.post('/api/application/config/save',data)
                    .then(response =>{
                        console.log(response.data);
                        this.disabledbutton.splice(this.disabledbutton.indexOf('config'), 1);
                    })
                    .catch(e => {
                        getErrorAxios(e);
                    })

            },
            showProjects: function () {
                axios.get('/api/projects/type/'+this.project_type+'/list')
                    .then(response => {
                        // JSON responses are automatically parsed.
                        console.log(response.data);

                        if (response.data.status === true){
                            let projects = response.data.projects;

                            for (let i=0;i<projects.length;i++) {
                                this.projects.push({
                                    'id':projects[i].id,
                                    'title': projects[i].title,
                                    'updated': projects[i].updated,
                                    'created': projects[i].created,
                                    'followers_min': projects[i].followers_min,
                                    'followers_max': projects[i].followers_max
                                });

                                if (projects[i].start) {
                                    this.checkboxStart.push(projects[i].id);
                                }
                            }

                            this.sumPagesProjects = parseInt((this.projects.length)/this.limitProjects)+1;
                            this.pagination('Projects',1);
                        }
                    })
                    .catch(e => {
                        getErrorAxios(e);
                    })
            },

            showProjectsData:function (id) {
                let data = new FormData();
                data.append('project_id',id);
                this.choosedProject = id;

                axios.post('/api/project/show-details',data)
                    .then(response => {
                        // JSON responses are automatically parsed.
                        console.log(response.data);
                        if (response.data.status === true){

                            for (let i=0; i<response.data.accounts.length; i++) {
                                this.listAccounts.push(response.data.accounts[i]);
                            }

                            this.sumPagesAccount = parseInt((this.listAccounts.length)/20);
                            console.log(this.sumPagesAccount)
                            this.pagination('Accounts',1);
                        }
                    })
                    .catch(e => {
                        getErrorAxios(e);
                    })
            },

            closeProject:function(){
                this.listAccounts = [];
                this.choosedProject = 0

            },

            showFollowers:function(id){
                self.showFollowersLoading = true;
                let data = new FormData();
                data.append('account_id',id);
                data.append('project_id',this.choosedProject);
                axios.post('/api/project/show-followers',data)
                    .then(response => {
                        // JSON responses are automatically parsed.
                        console.log(response.data);
                        console.log('Show followers');
                        if (response.data.status === true){

                            for (let i=0; i<response.data.followers.length; i++) {
                                this.listFollowers.push(response.data.followers[i]);
                            }

                            this.sumPagesFollowers = parseInt((this.listFollowers.length)/20);
                            this.pagination('Followers',1);
                        }
                        self.showFollowersLoading = false;
                    })
                    .catch(e => {
                        getErrorAxios(e);
                    })

            },

            closeFollowers:function(){
                this.listFollowers = []
            },

            checkboxChangeStart:function (id){
                let data = new FormData();
                data.append('project_id',id);
                axios.post('/api/project/start',data)
                    .then(response => {
                        // JSON responses are automatically parsed.
                        console.log(response.data);
                    })
                    .catch(e => {
                        getErrorAxios(e);
                    });
            },
            toggleShowProjectInfo: function(id) {
                const index = this.expand.indexOf(id);
                if (index > -1) {
                    this.expand.splice(index, 1);
                }

                if (index === -1){
                    let data = new FormData();
                    data.append('project_id',id);
                    axios.post('/api/project/details', data)
                        .then(response => {
                            // JSON responses are automatically parsed.
                            console.log(response.data);
                            if (typeof response.data.querys !== 'undefined'){
                                this.projects_info[id] = response.data.querys;
                                this.projects_info[id].query = response.data.info.query;
                            }

                            this.expand.push(id);
                        })
                        .catch(e => {
                            getErrorAxios(e);
                        })
                }

            },
            timestamp(datetime) {
                return moment.utc(moment.tz(datetime.date, datetime.timezone)).local().format('YYYY-MM-DD HH:mm:ss')
            },
            sort:function(s) {
                console.log('sorting');

                if(s === this.currentSort) {
                    this.currentSortDirection = this.currentSortDirection==='asc'?'desc':'asc';
                }
                this.currentSort = s;
            },
            sortedList:function(page) {
                return this.projects.sort((a,b) => {
                    let modifier = 1;
                    if(this.currentSortDirection === 'desc') modifier = -1;
                    if(a[this.currentSort] < b[this.currentSort]) return -1 * modifier;
                    if(a[this.currentSort] > b[this.currentSort]) return 1 * modifier;
                    return 0;
                });
            },
            pagination: function (type,page) {

                if (type === 'Projects'){
                    this.listPageProjects = page;
                    this.pagesProjects = [];
                    this.pagesProjects.push(1);
                    for (let i = this.listPageProjects - 5; i < this.listPageProjects + 5; i++) {
                        if (i > 1 && i < this.sumPagesProjects) {
                            this.pagesProjects.push(i);
                        }
                    }
                    this.pagesProjects.push(this.sumPagesProjects);
                }

                if (type === 'Accounts') {

                    this.listPageAccount = page;
                    this.pagesAccount = [];
                    this.pagesAccount.push(1);
                    for (let i = this.listPageAccount - 5; i < this.listPageAccount + 5; i++) {
                        if (i > 1 && i < this.sumPagesAccount) {
                            this.pagesAccount.push(i);
                        }
                    }
                    this.pagesAccount.push(this.sumPagesAccount);
                }

                if (type === 'Followers') {

                    this.listPageFollowers = page;
                    this.pagesFollowers = [];
                    this.pagesFollowers.push(1);
                    for (let i = this.listPageFollowers - 5; i < this.listPageFollowers + 5; i++) {
                        if (i > 1 && i < this.sumPagesFollowers) {
                            this.pagesFollowers.push(i);
                        }
                    }
                    this.pagesFollowers.push(this.sumPagesFollowers);
                }                
                
                
            },
            arrayToURLList: function (list) {

                let arr =[];
                if (Object.keys(list).length > 0){
                    for(i = 0; i<Object.keys(list).length;i++){
                        arr.push(list[i]);
                    }
                }

                return arr;

            },

/*
 --------------------------------------------------  Export -------------------------------------------------
 */

            exportFollowersToSheet:function (id,index) {

                //this.disabledbutton.push('export-followers-'+id);

                let data = new FormData();
                data.append('project_nametype',this.project_nametype);
                data.append('account_id',id);
                axios.post('/api/project/export-followers-to-sheet',data)
                    .then(response => {
                        // JSON responses are automatically parsed.
                        console.log(response.data);
                        this.disabledbutton.splice(this.disabledbutton.indexOf('export-followers-'+id), 1);
                    })
                    .catch(e => {
                        getErrorAxios(e);
                    })
            },

            exportConsolidateDataToSheet:function (id,index) {

                //this.disabledbutton.push('export-followers-'+id);

                let data = new FormData();
                data.append('project_id',id);
                data.append('project_nametype',this.project_nametype);
                axios.post('/api/project/export-project-consolidate-to-sheet',data)
                    .then(response => {
                        // JSON responses are automatically parsed.
                        console.log(response.data);
                        this.disabledbutton.splice(this.disabledbutton.indexOf('export-followers-'+id), 1);
                    })
                    .catch(e => {
                        getErrorAxios(e);
                    })
            },
        },
        computed:{
            sortedProjects:function() {
                return this.projects.sort((a,b) => {
                    let modifier = 1;
                    if(this.currentSortDirection === 'desc') modifier = -1;
                    if(a[this.currentSort] < b[this.currentSort]) return -1 * modifier;
                    if(a[this.currentSort] > b[this.currentSort]) return 1 * modifier;
                    return 0;
                });
            }
        }
    }

    function getErrorAxios(error) {
        // Error
        if (error.response) {
            // The request was made and the server responded with a status code
            // that falls out of the range of 2xx
            console.log(error.response.data);
        } else if (error.request) {
            // The request was made but no response was received
            // `error.request` is an instance of XMLHttpRequest in the browser and an instance of
            // http.ClientRequest in node.js
            console.log(error.request);
        } else {
            // Something happened in setting up the request that triggered an Error
            console.log('Error', error.message);
        }
    }
</script>

<style scoped>

</style>