body {
    background-color: #f9f9f9;
}

.hidden {
    display: none;
}

.private {
    background-color: #eeeeee;
    color: #666666;
}

.country-flag {
    width:1.45em;
    height: 1em;
    -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
    border: solid 1px #444444;
}

.pagination {
    cursor: pointer;
}

@media (min-width: 768px) {
    .h-md-100 { height: 100vh; }
}
.btn-round { border-radius: 30px; }
.bg-indigo { background: indigo; }
.text-cyan { color: #35bdff; }