{% extends 'base.html.twig' %}
{%  block title %}Followings search{% endblock %}
{%  block stylesheets %}{{ encore_entry_link_tags('following-search') }}{% endblock %}
{% block javascripts %}{{ encore_entry_script_tags('following-search') }}{% endblock %}
{% block body %}
    <div id="following-search-div">
        <index></index>
    </div>
{% endblock %}
