{% extends 'base.html.twig' %}
{%  block title %}Followers search{% endblock %}
{%  block stylesheets %}{{ encore_entry_link_tags('followers-search') }}{% endblock %}
{% block javascripts %}{{ encore_entry_script_tags('followers-search') }}{% endblock %}
{% block body %}
    <div id="followers-search-div">
        <index></index>
    </div>
{% endblock %}
