{% extends 'base.html.twig' %}
{%  block title %}Followers search{% endblock %}
{%  block stylesheets %}{{ encore_entry_link_tags('index') }}{% endblock %}
{% block javascripts %}{{ encore_entry_script_tags('index') }}{% endblock %}
{% block body %}
    <div class="d-md-flex h-md-100 align-items-center">
        <div class="col-md-6 p-0 bg-indigo h-md-100 text-white">
            <div class="d-md-flex align-items-center h-md-100 p-5 justify-content-center">
                <div class="border rounded p-5">
                    <h3 class="mb-4 text-center">Following analysis</h3>
                    <ul class="ml-0 pl-0">
                        <li>Get target account list of followings</li>
                        <li>For each followings find location from posts</li>
                        <li>Detect location point by Instagram location ID and get country/city</li>
                        <li>For each followings find location from bio</li>
                        <li>Get list of followers</li>
                        <li>From list of followers get random 100 accounts</li>
                        <li>Make analysis (find "type") for each choosing followers (is he/she real or fake or mass-follower or etc.)</li>
                        <li>Make summary values of each type and storing in DB </li>
                    </ul>
                    <a href="{{ path('following_analysis') }}" class=""><button class="btn btn-primary mb-2 mr-2">Show web example</button></a>
                    <a href="https://docs.google.com/spreadsheets/d/1eRlgkHeC9p_1gVwN10mQoFbkRlItS0q5N-ycEvanQXw/" class=""><button class="btn btn-success mb-2">Show sheet export</button></a>
                </div>
            </div>
        </div>
        <div class="col-md-6 p-0 bg-white h-md-100 loginarea">
            <div class="d-md-flex align-items-center h-md-100 p-5 justify-content-center">
                <div class="border rounded p-5">
                    <h3 class="mb-4 text-center">Followers analysis</h3>
                    <ul class="ml-0 pl-0">
                        <li>Get target account list of followers</li>
                        <li>For each follower find location from posts</li>
                        <li>Detect location point by Instagram location ID and get country/city</li>
                        <li>For each followers find location from bio</li>
                        <li>Find follower from target country (at least 30% of posts location from Belgium)</li>
                        <li>From list of followers of founded account get random 100 accounts</li>
                        <li>Make analysis (find "type") for each choosing followers (is he/she real or fake or mass-follower or etc.)</li>
                        <li>Make summary values of each type and storing in DB </li>
                    </ul>
                    <a href="{{ path('followers_analysis') }}" class=""><button class="btn btn-primary mb-2 mr-2">Show web example</button></a>
                    <a href="https://docs.google.com/spreadsheets/d/1WkVPcdun_9AEaiBKFCt2kZQr0Yp2Fgxks37Kl31FPYY/" class=""><button class="btn btn-success mb-2">Show sheet export</button></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
